@use '../../../styles/mixins';

.overlay {
  @include mixins.mq(desktop) {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 510px;
      height: 50px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, #FFFFFF 42.19%);
    }
  }

}

.list {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;


  @include mixins.mq(tablet) {
    width: 610px;
    margin-top: 20px;
    gap: 15px;
    height: 245px;

    overflow-y: scroll;
  }

  @include mixins.mq(desktop) {
    height: 270px;
  }
}
