@use '../../../styles/mixins';

.item {
  display: flex;
}

.wrapper {
  display: flex;
  gap: 10px;
}

.title {
  width: 100%;
  padding-bottom: 8px;

  border-bottom: 1px solid #E0E0E0;

  overflow: hidden;

  @include mixins.mq(tablet) {
    width: 240px;
    padding-bottom: 20px;
  }
}

.weight {
  display: flex;
  align-items: center;

  width: 50px;
  margin-left: 8px;
  padding-bottom: 8px;

  border-bottom: 1px solid #E0E0E0;

  @include mixins.mq(tablet) {
    width: 105px;
    margin-left: 20px;
    padding-bottom: 20px;

    text-align: right;

  }

  @include mixins.mq(desktop) {
    margin-left: 48px;
  }
}

.kcal {
  display: flex;
  align-items: center;

  width: 64px;
  // margin-left: 8px;
  padding-bottom: 8px;

  border-bottom: 1px solid #E0E0E0;

  @include mixins.mq(tablet) {
    width: 105px;
    margin-left: 45px;
    padding-bottom: 20px;

    text-align: right;
  }

  @include mixins.mq(desktop) {
    margin-left: 30px;
  }
}

.btnRemove {
  margin-left: 15px;

  border: none;
  outline: none;
  background: none;

  @include mixins.mq(tablet) {
    margin-left: 30px;
    margin-right: 40px;
  }
}
