.item {
  display: flex;
  gap: 8px;

}

.textTitle {
  width: 130px;
  padding-bottom: 8px;

  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: #212121;

  border-bottom: 1px solid #E0E0E0;
}

.textWeight {
  padding-bottom: 8px;

  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: #212121;

  border-bottom: 1px solid #E0E0E0;
}

.textKcal {
  padding-bottom: 8px;

  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: #212121;

  border-bottom: 1px solid #E0E0E0;
}
