@use '../../../styles/mixins';

.form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 0px 20px;

  @include mixins.mq(tablet) {
    margin-top: 60px;
    flex-direction: row;
    gap: 22px;
    padding: 0px;
  }
}

.btn {
  text-align: center;
  margin-top: 28px;

  @include mixins.mq(tablet) {
    margin-top: 0px;
    margin-left: 65px;
  }

  @include mixins.mq(desktop) {
    margin-left: 38px;
  }
}

.form input[name='weight'] {
  @include mixins.mq(tablet) {
    width: 105px;

    text-align: right;
  }
}

.overlayLabel {
  position: relative;
}

.errorOverlay {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
}

.errorMessage {
  margin-left: 10px;

  color: #f84147;

  @include mixins.mq(tablet) {
    width: 200px;
  }
}
