@import '../../../services/styles/styles.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 80px;
}

.field {
  width: 100%;

  border: none;
  border-bottom: 1px solid  $form-border-color;
}

.btn {
  margin-top: 28px;
}
