.navDesct {
  padding-bottom: 5px;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 32px;
    height: 0px;
    left: -34px;
    top: 5px;

    /* Gray 5 */

    border: 2px solid #e0e0e0;
    transform: rotate(90deg);
  }
}

.navDesct a {
  text-decoration: none;
  font-family: 'GothamPro';
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #212121;

  &:last-child {
    margin-left: 16px;
    color: #9b9faa;
  }
}
