@use '../../../styles/mixins';

.btnInput {
  position: relative;

  margin-top: 40px;
  padding-right: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;

  background-color: var(--main-color);

  border: none;

  &:after {
    content: '';
    position: absolute;

    margin-left: 20px;

    width: 20px;
    height: 20px;
    background-image: url(/images/svg/calendar.svg);

    @include mixins.mq(tablet) {
      top: 25%;
    }
  }

  @include mixins.mq(tablet) {
    margin-top: 100px;

    font-weight: 700;
    font-size: 34px;
    line-height: 1.20;
  }

  @include mixins.mq(desktop) {
    margin-top: 150px;
  }
}

.dateOverlay {
  position: absolute;
  margin-top: 10px;

  &::before {
    box-sizing: content-box;
    position: absolute;
    top: -7px;
    left: 48%;
    height: 0;
    width: 1px;
    content: "";
    z-index: 2;
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color: #aeaeae;

    @include mixins.mq(tablet) {
      left: 81%;
    }
  }
}
