.dateFormat {
  margin-right: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
}

.ReactDatePicker {
  margin-right: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;

  border: none;
}
