@use '../../styles/mixins';

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 33, 33, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 320px;
    height: 600px;
    background: #FFFFFF;
    box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
    @include mixins.mq(tablet) {
        width: 672px;
        height: 573px;
    }
    @include mixins.mq(desktop) {
        width: 573px;
        height: 672px;
    }
}
.closeM {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image:url("../../images/modal/back.png");
    top: 10px;
    left: 20px;
}
.closeOther {
    @include mixins.mq(tablet) {
        position: absolute;
        cursor: pointer;
        width: 20px;
        height: 20px;
        background-image:url("../../images/modal/close.png");
        top: 20px;
        right: 20px;
    }
}
.mobileClose {
    width: 320px;
    height: 40px;
    background-color: #EFF1F3;
    @include mixins.mq(tablet) {
        display: none;
    }
}
.modalTitle {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
    width: 280px;
    height: 52px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.444;
    color: #212121;
    @include mixins.mq(tablet) {
        margin-top: 64px;
        margin-bottom: 20px;
        text-align: center;
        width: 450px;
        height: 70px;
        font-size: 26px;
        line-height: 1.230;
    }
}
.modalText {
    margin-bottom: 32px;
    width: 280px;
    height: 62px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.208;
    letter-spacing: 0.04em;
    color: #264061;
    @include mixins.mq(tablet) {
        width: 330px;
        text-align: center;
    }
}
.textDescription {
    font-size: 18px;
}
.menuGroup {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 280px;
    border-top: 1px solid #E0E0E0;
    @include mixins.mq(tablet) {
        width: 330px;
    }
}
.menuGroupTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 330px;
    height: 17px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.04em;
    @include mixins.mq(tablet) {
        margin-top: 12px;
    }
}
.menuGroupList {
    margin-left: 20px;
    list-style-type: decimal;
}
.menuGroupItems {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.04em;
    color: var(--second-text-color);
}