@use '../../styles/mixins';

.home {
  padding-top: 40px;

  @include mixins.mq(tablet) {
    height: 100vh;
    background-image: image-set(
      url('../../images/tablet/bghometablet.png') 1x,
      url('../../images/tablet/bghometabletx2.png') 2x
    );
    background-repeat: no-repeat;
    background-position: right 0 top 456px;
  }

  @include mixins.mq(desktop) {
    height: auto;
    background-image: none;
  }
}

.imgDesktop {
  display: none;

  @include mixins.mq(desktop) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    // width: 100%;
    width: 1280px;
    z-index: -1;
  }
}
