.wrapper {
  padding: 40px 20px;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;

  text-align: left;
}

.text {
  margin-top: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  text-align: left;
}

.btn {
  margin-top: 50px;
}

.btnGreeting {
  background-color: var(--accent-color);
  padding: 13px 25px;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
  border: 2px solid var(--accent-color);
  color: var(--main-color);
  min-width: 182px;
}
