@use '../../styles/mixins';

.modalTitle {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  width: 280px;
  height: 52px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.444;
  color: #212121;
  @include mixins.mq(tablet) {
    margin-top: 64px;
    margin-bottom: 20px;
    text-align: center;
    width: 450px;
    height: 70px;
    font-size: 26px;
    line-height: 1.23;
  }
}
.modalText {
  margin-bottom: 20px;
  width: 280px;
  height: 62px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.208;
  letter-spacing: 0.04em;
  color: #264061;
  text-align: center;
  @include mixins.mq(tablet) {
    width: 330px;
    
  }
}
.textDescription {
  font-size: 18px;
}
.menuGroup {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 240px;
  width: 270px;
  border-top: 1px solid #e0e0e0;
  @include mixins.mq(tablet) {
    height: 210px;
    width: 340px;
  }
  @include mixins.mq(desktop) {
    height: 315px;
    width: 350px;
  }
}
.menuGroupTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 280px;
  height: 17px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.04em;
  @include mixins.mq(tablet) {
    margin-top: 12px;
  }
}
.menuGroupList {
  width: 270px;
  list-style-type: decimal;
  overflow-y: auto;
  overflow-x: hidden;
  @include mixins.mq(tablet) {
    width: 340px;
  }
  @include mixins.mq(desktop) {
    width: 350px;
  }
}
.menuGroupItems {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.214;
  letter-spacing: 0.04em;
  color: var(--second-text-color);
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(211, 207, 207); 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #264061; 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #264061; 
}