.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: var(--main-color);
}

// .overlay {
//   height: 270px;
//   background-color: #E0E0E0;
// }
