@use '../../styles/mixins';
.container_sidebar {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);

  @include mixins.mq(tablet) {
    padding: 80px 32px;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    background-image: url(../../images/tablet/layer411.png);
    background-position: top -72px right -264px;
    background-repeat: no-repeat;
  }

  @include mixins.mq(desktop) {
    background-image: url(../../images/desktop/layer2.png);
    background-position: top -122px right -13px;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 517px;
    height: 100vh;
    padding-top: 150px;
  }
}

.sum {
  width: 280px;

  @include mixins.mq(tablet) {
    width: 290px;
    margin-right: 97px;
  }

  @include mixins.mq(desktop) {
    margin-right: 0;
    margin-bottom: 60px;
  }
}

.title_sidebar {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;

  @include mixins.mq(tablet) {
    margin-bottom: 35px;
  }
}
.list_sidebar {
  width: 280px;
}

.item_sidebar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: var(--second-text-color);
}

.data {
  @include mixins.mq(desktop) {
    margin-right: 40px;
  }
}

.text_sidebar_food {
  font-size: 14px;
  letter-spacing: 0.04em;
  color: var(--second-text-color);
}

.food {
  width: 280px;
  overflow-y: auto;
  overflow-x: hidden;
}
.menuGroupList {
  width: 230px;
  height: 300px;
  margin-left: 45px;
  list-style-type: decimal;
}
.menuGroupItems {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.214;
  letter-spacing: 0.04em;
  color: var(--second-text-color);
}