@use '../../styles/mixins';

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--accent-color);

  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;

  @include mixins.mq(tablet) {
    margin-top: 160px;
    text-align: left;
  }
}

.form {
  @include mixins.mq(tablet) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  & button:first-child {
    margin-bottom: 20px;
  }

  @include mixins.mq(tablet) {
    display: block;
    & button:first-child {
      margin-right: 32px;
    }
  }
}

// Container додає непотрібний padding-left: 32px;
// Ден закінчить - розібратися з Container. Можна прибрати Container і огорнути все div, в якому задати свої padding

//img in RegisterPage.jsx
.imgTablet {
  display: none;
  @include mixins.mq(tablet) {
    display: block;
    position: absolute;
    top: 124px;
    z-index: -1;
  }
  @include mixins.mq(desktop) {
    display: none;
  }
}
.imgDesktop {
  display: none;
  @include mixins.mq(desktop) {
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}
