@use '../../../styles/mixins';

.overlay {
  position: relative;
  margin-top: 20px;

  @include mixins.mq(tablet) {
    margin-top: 0px;
  }
}

.headTitle {
  font-size: 18px;
  text-align: center;

}

.list {
  position: absolute;
  margin-top: 30px;
  padding: 0px 20px 30px 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  background-color: var(--main-color);

  height: 100vh;

  z-index: 2;

  @include mixins.mq(tablet) {
    width: 610px;
    margin-top: 20px;
    padding: 0px;

    gap: 15px;
    height: 245px;

  overflow-y: scroll;

  }

  @include mixins.mq(desktop) {
    height: 270px;
  }
}

.item {
  display: flex;
}

.wrapper {
  display: flex;
  gap: 10px;
}

.title {
  width: 100%;
  padding-bottom: 8px;

  border-bottom: 1px solid #E0E0E0;

  overflow: hidden;

  @include mixins.mq(tablet) {
    width: 240px;
    padding-bottom: 20px;
  }
}

.weight {
  display: flex;
  align-items: center;

  width: 50px;
  margin-left: 8px;
  padding-bottom: 8px;

  border-bottom: 1px solid #E0E0E0;

  @include mixins.mq(tablet) {
    width: 105px;
    margin-left: 20px;
    padding-bottom: 20px;

    text-align: right;

  }

  @include mixins.mq(desktop) {
    margin-left: 48px;
  }
}

.kcal {
  display: flex;
  align-items: center;

  width: 64px;
  padding-bottom: 8px;

  border-bottom: 1px solid #E0E0E0;

  @include mixins.mq(tablet) {
    width: 105px;
    margin-left: 45px;
    padding-bottom: 20px;

    text-align: right;
  }

  @include mixins.mq(desktop) {
    margin-left: 30px;
  }
}
