@use '../../../styles/mixins';

.overlay {
  position: absolute;
  margin-top: 50px;

  @include mixins.mq(tablet) {
    margin-top: 0px;
  }
}

.headTitle {
  font-size: 18px;
  padding-left: 20px;
  text-align: center;

  @include mixins.mq(tablet) {
    margin-bottom: 12px;
    padding-left: 0px;
    text-align: start;
  }

  @include mixins.mq(desktop) {
    margin-bottom: 22px;
    padding-left: 0px;
    text-align: start;
  }
}

.list {
  margin-top: 30px;
  padding: 0px 20px 30px 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  background-color: var(--main-color);

  height: 100vh;
  width: calc(100vw - 10px);

  z-index: 2;

  @include mixins.mq(tablet) {
    width: 610px;
    margin-top: 0px;
    padding: 0px;

    gap: 15px;
    height: 245px;

    overflow-y: scroll;
  }

  @include mixins.mq(desktop) {
    height: 270px;
  }
}

.item {
  display: flex;
  cursor: pointer;
}

.item:hover {
  background-color: var(--border-color);
}

.wrapper {
  display: flex;
  gap: 10px;

  @include mixins.mq(tablet) {
    gap: 45px;
  }

  @include mixins.mq(desktop) {
    gap: 30px;
  }
}

.title {
  width: 100%;
  padding-bottom: 8px;

  border-bottom: 1px solid var(--border-color);

  overflow: hidden;

  @include mixins.mq(tablet) {
    width: 240px;
    padding-bottom: 20px;
  }
}

.weight {
  display: flex;
  align-items: center;

  width: 51px;
  margin-left: 8px;
  padding-bottom: 8px;

  border-bottom: 1px solid var(--border-color);

  @include mixins.mq(tablet) {
    width: 105px;
    margin-left: 20px;
    padding-bottom: 20px;

    justify-content: right;
  }

  @include mixins.mq(desktop) {
    margin-left: 48px;
  }
}

.kcal {
  display: flex;
  align-items: center;

  width: 70px;
  padding-bottom: 8px;

  border-bottom: 1px solid var(--border-color);

  @include mixins.mq(tablet) {
    width: 105px;
    padding-bottom: 20px;
    justify-content: right;
  }
}
