@use '../../../styles/mixins';

.label {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
  height: 48px;
}
.input {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin-bottom: 40px;
  width: 100%;
  height: 48px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--second-text-color);
  box-shadow: none;
  border-radius: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom: 1px solid #e0e0e0;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  @include mixins.mq(tablet) {
    width: 240px;
  }
}

.span {
  position: absolute;
  top: 1px;
  left: 1px;
  display: inline-block;
  margin-top: 17px;
  font-size: 14px;
  color: var(--second-text-color);
  transition: 0.25s;
  pointer-events: none;
}
.input:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
  background: transparent;
}

.input:focus + span,
.input:valid + span {
  transform: translateX(-10px) translateY(-32px);
}
