// @use '../../../services/styles/mixins';

.input {
  display: inline-block;
  margin-bottom: 40px;
  width: 280px; //mobile
  height: 48px;
  color: #9b9faa;
  box-shadow: none;
  border-radius: 0;

  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom: 1px solid #e0e0e0;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  font-weight: 400;
  line-height: 1.5;

  // @include mixins.mq(tablet) {
  //   width: 240px;
  // }
}

.input:focus {
  outline: none;
  border-bottom: 1px solid #fc842d;
  background: transparent;
}
