@use '../../styles/mixins';

.login {
  padding-top: 40px;

  
  @include mixins.mq(tablet) {
    padding-top: 160px;
    height: 100vh;
    background-image: url(../../images/tablet/tabletx1.png);
    background-repeat: no-repeat;
    background-position: top -83px right 0;
  }

  @include mixins.mq(desktop) {
    background-image: none;
  }
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 60px;

  @include mixins.mq(tablet) {
    text-align: left;
  }
}

.form {
  @include mixins.mq(tablet) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  & button:first-child {
    margin-bottom: 20px;
  }

  @include mixins.mq(tablet) {
    display: block;
    & button:first-child {
      margin-right: 32px;
    }
  }
}

.imgDesktop {
  display: none;

  @include mixins.mq(desktop) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
